@{
  Layout = "_Layout";
}
@*@using Library.Models*@
@model Library.Models.Book

<h2>@Html.DisplayFor(model => model.Title)</h2>
@foreach (var join in Model.JoinEntities)
{
  <h3>Author: @join.Author.Name</h3>
  @if(User.Identity.IsAuthenticated)
  {
    @using (Html.BeginForm("DeleteAuthor", "Books"))
    {
      @Html.Hidden("joinId", @join.AuthorshipId)
      <input class="noButton" type="submit" value="Delete"/>
    }
  }
}

@if(User.Identity.IsAuthenticated)
{
  <p>@Html.ActionLink("Edit book or add an author", "Edit", new { id = Model.BookId })</p>
  <p>@Html.ActionLink("Delete this book", "Delete", new {id = Model.BookId})</p>

}
