@{
  Layout = "_Layout";
}
@using Library.Models
@model Library.Models.Book

<h2>@Html.DisplayFor(model => model.Title)</h2>
@foreach (var join in Model.JoinEntities)
{
  <h3>Author: @join.Author.Name</h3>
  @if (User.Identity.IsAuthenticated && User.IsInRole("Librarian"))
  {
    @using (Html.BeginForm("DeleteAuthor", "Books"))
    {
      @Html.Hidden("joinId", @join.AuthorshipId)
      <input class="noButton" type="submit" value="Remove Author from Book"/>
    }
  }
}
<h3>This book has @Model.Copies.Count copies</h3>
<ul>
  @foreach(Copy copy in Model.Copies)
  {
    <li>@Html.ActionLink($"{copy.Format} Id: {copy.CopyId} | Checked Out: {copy.CheckoutDate}", "Details", "Copies", new { id = copy.CopyId })</li>
  }
</ul>
@if (User.Identity.IsAuthenticated && User.IsInRole("Librarian"))
{
  <p>@Html.ActionLink("Add a copy", "Create", "Copies", new { BookId = Model.BookId })</p>
  <p>@Html.ActionLink("Edit book or add an author", "Edit", new { id = Model.BookId })</p>
  <p>@Html.ActionLink("Delete this book", "Delete", new {id = Model.BookId})</p>

}
