@{
  Layout = "_Layout";
}

@if (User.Identity.IsAuthenticated)
{
  <h3>Welcome, @User.Identity.Name</h3>
  // List of checked out copies with due dates
  
  <p>@Html.ActionLink("View the Library Catalog", "Index", "Books")</p>
}
else
{
  <h3>Welcome!</h3>
  <p>@Html.ActionLink("View the Library Catalog", "Index", "Books")</p>
  <p>@Html.ActionLink("Log In", "Login", "Account")</p>
  <p>@Html.ActionLink("Create an Account", "Index", "Account")</p>
}